/* Colors */
:root {
  --blanco: hsl(0, 0%, 100%);
  --light-grayish-violet: hsl(270, 3%, 87%);
  --dark-grayish-violet: hsl(279, 6%, 55%);
  --very-dark-violet: hsl(278, 68%, 11%);
}

* {
  box-sizing: border-box;
  font-family: 'Space Grotesk', sans-serif;
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
}

/* Previsualización de las tarjetas */
header {
  background: url(./images/bg-main-mobile.png) no-repeat;
  background-size: 100%;
  height: 280px;
  position: relative;
  top: 0;
  width: 100%;
}
.tarjetas {
  left: 50%;
  position: relative;
  transform: translate(-50%);
  width: 280px;
}
.tarjeta-frontal {
  aspect-ratio: 16/8.7;
  background: url(./images/bg-card-front.png);
  background-size: 100%;
  left: 10px;
  overflow: hidden;
  position: relative;
  top: 106px;
  width: 230px;
}
.circles {
  align-items: center;
  display: flex;
  gap: 0.5em;
  left: 5%;
  position: relative;
  top: 5%;
  width: fit-content;
}
.full-circle {
  background-color: #fff;
  border-radius: 50%;
  height: 33px;
  width: 33px;
}
.circle {
  border: 1px solid #fff;
  border-radius: 50%;
  height: 14px;
  width: 14px;
}
.numero-tarjeta {
  bottom: 40%;
  color: #fff;
  left: 60%;
  letter-spacing: 2px;
  position: absolute;
  text-transform: uppercase;
  transform: translate(-50%);
  width: fit-content;
  width: 100%;
}
.titular-tarjeta {
  bottom: 12%;
  color: #fff;
  font-size: 11px;
  left: 10%;
  position: absolute;
  text-transform: uppercase;
}
.fecha-exp-tarjeta {
  bottom: 12%;
  color: #fff;
  display: flex;
  font-size: 11px;
  position: absolute;
  right: 10%;
  text-transform: uppercase;
}
.tarjeta-trasera {
  aspect-ratio: 16/8.7;
  background: url(./images/bg-card-back.png);
  background-size: 100%;
  position: absolute;
  right: 10px;
  top: 32px;
  width: 230px;
  z-index: -1;
}
.cvc {
  bottom: 45%;
  color: #fff;
  font-size: 11px;
  letter-spacing: 1px;
  position: absolute;
  right: 13%;
  text-transform: uppercase;
}
/* Fin Previsualización de las tarjetas */

/* Formulario Para Datos de la Tarjeta */
form {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 2px 6px 20px 1px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  font-size: 18px;
  gap: 1em;
  left: 50%;
  margin-block: 2rem;
  padding: 2.5em 1.5em;
  position: relative;
  transform: translate(-50%);
  width: fit-content;
}
form label {
  color: var(--very-dark-violet);
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 3px;
}
#numeroTarjetaLabel {
  position: relative;
}
#borrarNumeroTarjeta {
  align-items: center;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  height: 20px;
  justify-content: center;
  letter-spacing: 0;
  position: absolute;
  right: 5%;
  top: 36px;
  transition: 200ms linear;
  width: 20px;
}
#borrarNumeroTarjeta:hover {
  background-color: #000;
  color: #fff;
}
form input {
  background-color: transparent;
  border: none;
  border-radius: 4px;
  color: var(--very-dark-violet);
  padding: 0.3em 0.8em;
  text-transform: uppercase;
}
form input::placeholder {
  color: var(--dark-grayish-violet);
}
form input:focus {
  outline: 2.5px solid var(--dark-grayish-violet);
}
.flex {
  align-items: center;
  display: flex;
  gap: 0.5em;
}
.flex-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.flex-left-inputs {
  align-items: center;
  display: flex;
  gap: 0.3em;
}
.flex-right {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.flex input {
  margin-top: 1em;
  width: 5.5em;
}
form button {
  background-color: var(--very-dark-violet);
  border: none;
  border-radius: 5px;
  color: var(--light-grayish-violet);
  cursor: pointer;
  max-width: 320px;
  padding: 8px 20px;
  transition: background 300ms ease;
}
form button:hover {
  background-color: hsl(278, 68%, 14%);
}
form button:focus {
  outline: none;
}
/* Fin Formulario Para Datos de la Tarjeta */

/* Complete State */
.complete-state {
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  height: 360px;
  justify-content: center;
  left: 50%;
  padding: 0 1em;
  position: absolute;
  top: 0;
  transform: translate(-50%);
  width: 305px;
}
.circle-check {
  align-items: center;
  background: url('images/bg-card-front.png') no-repeat;
  background-size: 200%;
  border-radius: 50%;
  color: #fff;
  display: flex;
  font-size: 28px;
  height: 80px;
  justify-content: center;
  user-select: none;
  width: 80px;
}
.complete-state h2 {
  font-size: 28px;
  text-align: center;
}
.complete-state p {
  font-size: 20px;
  text-align: center;
}
.complete-state button {
  background-color: var(--very-dark-violet);
  border: none;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  font-size: 19px;
  padding: 0.8rem 1rem;
  transition: background-color 300ms ease;
  width: 85%;
}
.complete-state button:hover {
  background-color: hsl(278, 68%, 14%);
}
.hidden {
  display: none;
}
/* Fin Complete State */

/* Pie de Página */
footer {
  background: url(./images/bg-main-mobile.png) no-repeat;
  background-size: 100%;
  bottom: 0;
  color: #fff;
  font-size: 11px;
  padding: 1em;
  position: fixed;
  text-align: center;
  width: 100%;
}
footer a {
  color: hsl(59, 45%, 50%);
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}
/* Fin Pie de Página */

/* Media Queries */
@media only screen and (min-width: 768px) {
  .tarjetas {
    width: 375px;
  }
  .tarjeta-frontal,
  .tarjeta-trasera {
    width: 300px;
  }
  .tarjeta-frontal {
    top: 126px;
  }
  form {
    margin-top: 10%;
  }
  header {
    align-items: center;
    background: url(./images/bg-main-desktop.png);
    background-size: 100%;
    display: flex;
    min-height: 100vh;
    width: 50%;
  }
  body {
    display: flex;
  }
  form {
    height: fit-content;
    left: 5%;
    transform: scale(1.2);
  }
}
@media only screen and (min-width: 1200px) {
  .tarjetas {
    width: 425px;
  }
  .tarjeta-frontal,
  .tarjeta-trasera {
    width: 350px;
  }
  .tarjeta-frontal {
    top: 142px;
  }
}
